---
layout: default
title: Przemek Sobstel
---

<div class='mp' id='man'>

  <div class='man-navigation' style='display:none'>
    <a href="#SYNOPSIS">SYNOPSIS</a>
    <a href="#ENVIRONMENT">ENVIRONMENT</a>
    <a href="#CURRENT">CURRENT</a>
    <a href="#HISTORY">HISTORY</a>
    <a href="#AFTER-HOURS">AFTER HOURS</a>
    <a href="#OPEN-SOURCE">OPEN SOURCE</a>
    <a href="#SKILLS">SKILLS</a>
    <a href="#LEAN-MENTALITY">LEAN MENTALITY</a>
    <a href="#REMOTE">REMOTE</a>
    <a href="#GISTS">GISTS</a>
    <a href="#BLOG">BLOG</a>
    <a href="#CONTACT">CONTACT</a>
    <span>--</span>
    <a href="mailto:przemek@sobstel.org">PRZEMEK@SOBSTEL.ORG</a>
  </div>

  <h1>Przemek Sobstel</h1>
<h2 id="SYNOPSIS">SYNOPSIS</h2>

<p>Lean Full Stack Developer</p>

<p><a href="https://github.com/sobstel/" class="icon icon-github" target="_blank"></a>
<a href="https://www.linkedin.com/in/sobstel/" class="icon icon-linkedin" target="_blank"></a>
<a href="https://stackoverflow.com/users/219272/sobstel" class="icon icon-stackoverflow" target="_blank"></a>
<a href="https://twitter.com/sobstel" class="icon icon-twitter" target="_blank"></a></p>

<h2 id="ENVIRONMENT">ENVIRONMENT</h2>

<p>Ruby, Rails, React Native, React, PHP</p>

<h2 id="CURRENT">CURRENT</h2>

<p><strong>Nabobil</strong> <a href="https://nabobil.no/en">www.nabobil.no</a><br />
Nabobil.no is a marketplace that connects people that needs a car with people that owns a car.
One of the best Norwegian startups. Ruby, Rails, React, React Native, GraphQL.</p>

<h2 id="HISTORY">HISTORY</h2>

<p><a href="https://www.appjobs.com/">AppJobs</a>, <a href="https://www.protipster.com/">Protipster</a>, Tip of the Day,
<a href="http://www.soccerway.com/">Soccerway</a>, <a href="http://www.scoresway.com/">Scoresway</a>,
<a href="https://www.optasports.com/services/data-feeds/">Opta Core API</a>, Navitracer, Intragame and a quite few more...</p>

<h2 id="AFTER-HOURS">AFTER HOURS</h2>

<p><strong>Hydropuzzle</strong> <a href="http://www.sobstel.org/hydropuzzle/">www.hydropuzzle.com</a>, <a href="https://itunes.apple.com/app/id1294812505?ls=1&amp;mt=8">app store</a><br />
Surreal tech puzzle adventure for iOS. Built with React Native. Nearly 20k downloads at the App Store.</p>

<p><strong>Golazon</strong> <a href="http://www.golazon/com/">www.golazon.com</a>, <a href="https://github.com/sobstel/golazon">source</a><br />
Football data mnmlist way. Ruby/preact/riot/hyperapp.</p>

<h2 id="OPEN-SOURCE">OPEN SOURCE</h2>

<p>{% assign popular_repos = site.data.popular_repos | sort: 'stargazers_count' | reverse %}
{% for repo in popular_repos %}
<strong>{{ repo.name }}</strong> <a href="{{%20repo.html_url%20}}" title="{{ repo.name }}">source</a><br />
{{ repo.description }}</p>

<p>{% endfor %}</p>

<p><a href="/open-source/">more &gt;</a></p>

<h2 id="SKILLS">SKILLS</h2>

<p>Ability to ignore new tools and technologies,
taste for simplicity,
preference for code deletion,
humility</p>

<h2 id="LEAN-MENTALITY">LEAN MENTALITY</h2>

<p><a href="https://gist.github.com/sobstel/d9a55c5bc99f2cb67642a8ccd7562ded">Eliminate waste</a>,
amplify learning, decide as late as possible, decide as fast as possible, empower the team, build integrity in, see the whole</p>

<h2 id="REMOTE">REMOTE</h2>

<p><a href="https://www.instagram.com/sobsteldev/">I work remotely</a></p>

<p><a href="https://www.instagram.com/p/BYygOuehcln/" target="_blank">
  <img src="https://scontent-frx5-1.cdninstagram.com/vp/14bd0c098706f007db2ac96154880eee/5C7E8455/t51.2885-15/e35/c2.0.1075.1075/s150x150/21373675_115384635795876_6802165634839871488_n.jpg" />
</a>
<a href="https://www.instagram.com/p/BWH-Kk2B6qH/" target="_blank">
  <img src="https://scontent-frx5-1.cdninstagram.com/vp/957b08f5ca8f3323f7f8889fc2e2a6c1/5C69C0D2/t51.2885-15/e35/s150x150/19761377_301560470255014_2695288421454184448_n.jpg" />
</a>
<a href="https://www.instagram.com/p/BnBv2UNBDfK/" target="_blank">
  <img src="https://scontent-frx5-1.cdninstagram.com/vp/b9ace5147af79f8832abb5942ad2dfd2/5C72472B/t51.2885-15/e35/s150x150/39591444_452677268551853_2155402047275401216_n.jpg" />
</a>
<a href="https://www.instagram.com/p/BXh6RySh5I8/" target="_blank">
  <img src="https://scontent-frx5-1.cdninstagram.com/vp/07f3cc88fa3bdae0c1f658197c784799/5C7A5858/t51.2885-15/e35/s150x150/20634897_117384005580058_8717940603289075712_n.jpg" />
</a></p>

<p>For best coffee in Katowice, I recommend <em>Synergia</em> and <em>#bezcukru</em>.</p>

<h2 id="GISTS">GISTS</h2>

<p>{% for gist in site.data.gists limit:5 %}
  <a href="{{ gist.url }}">{{ gist.title }}</a> ({{ gist.date | date: "%b %Y" }})<br />
{% endfor %}
<a href="/gists/">gists index &gt;</a></p>

<h2 id="BLOG">BLOG</h2>

<p>{% for post in site.posts limit:5 %}
  <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%b %Y" }})<br />
{% endfor %}
<a href="/blog/">blog archive &gt;</a></p>

<h2 id="CONTACT">CONTACT</h2>

<p>przemek@sobstel.org</p>


  <ol class='man-decor man-foot man foot'>
    <li class='tl'>dev &#8226; November 2018</li>
    <li class='tc'></li>
    <li class='tr'></li>
  </ol>
</div>
