---
layout: default
title: Przemek Sobstel
---

<div class='mp' id='man'>

  <div class='man-navigation' style='display:none'>
    <a href="#SYNOPSIS">SYNOPSIS</a>
    <a href="#ENVIRONMENT">ENVIRONMENT</a>
    <a href="#CURRENT">CURRENT</a>
    <a href="#HISTORY">HISTORY</a>
    <a href="#PRIVATE">PRIVATE</a>
    <a href="#OPEN-SOURCE">OPEN SOURCE</a>
    <a href="#SKILLS">SKILLS</a>
    <a href="#LEAN-MENTALITY">LEAN MENTALITY</a>
    <a href="#REMOTE">REMOTE</a>
    <a href="#GISTS">GISTS</a>
    <a href="#BLOG">BLOG</a>
    <a href="#CONTACT">CONTACT</a>
  </div>

  <h1>Przemek Sobstel</h1>
<h2 id="SYNOPSIS">SYNOPSIS</h2>

<p>Lean Full Stack Developer</p>

<p><a href="https://github.com/sobstel/">github</a> |
<a href="https://stackoverflow.com/users/219272/sobstel">stackoverflow</a> |
<a href="https://twitter.com/sobstel">twitter</a> |
<a href="https://www.linkedin.com/in/sobstel/">linkedin</a></p>

<h2 id="ENVIRONMENT">ENVIRONMENT</h2>

<p>Ruby, Rails, React Native, React, PHP</p>

<h2 id="CURRENT">CURRENT</h2>

<p><strong>Nabobil</strong> <a href="https://nabobil.no/en">www.nabobil.no</a><br />
Nabobil.no is a marketplace that connects people that needs a car with people that owns a car.
One of the best Norwegian startups.</p>

<h2 id="HISTORY">HISTORY</h2>

<p><a href="https://www.appjobs.com/">AppJobs</a>, <a href="https://www.protipster.com/">Protipster</a>, Tip of the Day,
<a href="http://www.soccerway.com/">Soccerway</a>, <a href="http://www.scoresway.com/">Scoresway</a>,
<a href="https://www.optasports.com/services/data-feeds/">Opta Core API</a>, Navitracer, Intragame and a quite few more...</p>

<h2 id="PRIVATE">PRIVATE</h2>

<p><strong>Hydropuzzle</strong> <a href="http://www.sobstel.org/hydropuzzle/">www.hydropuzzle.com</a>, <a href="https://itunes.apple.com/app/id1294812505?ls=1&amp;mt=8">app store</a><br />
Surreal tech puzzle adventure for iOS. Built with React Native. Nearly 20k downloads at the App Store.</p>

<p><strong>Golazon</strong> <a href="http://www.golazon/com/">www.golazon.com</a>, <a href="https://github.com/sobstel/golazon">source</a><br />
Football data mnmlist way. Ruby/preact/riot/hyperapp.</p>

<h2 id="OPEN-SOURCE">OPEN SOURCE</h2>

<p><strong>Sequent</strong> <a href="https://github.com/sobstel/sequent" title="Sequent">source</a><br />
Short-term memory training game (mobile). Built with React Native and Redux.</p>

<p><strong>Metaphore</strong> <a href="https://github.com/sobstel/metaphore" title="Metaphore">source</a><br />
Cache slam defense using a semaphore to prevent dogpile effect. Built with PHP.</p>

<h2 id="SKILLS">SKILLS</h2>

<p>Ability to ignore new tools and technologies,
taste for simplicity,
preference for code deletion,
humility</p>

<h2 id="LEAN-MENTALITY">LEAN MENTALITY</h2>

<p><a href="https://gist.github.com/sobstel/d9a55c5bc99f2cb67642a8ccd7562ded">Eliminate waste</a>,
amplify learning, decide as late as possible, decide as fast as possible, empower the team, build integrity in, see the whole</p>

<h2 id="REMOTE">REMOTE</h2>

<p><a href="https://www.instagram.com/sobsteldev/">I work remotely</a></p>

<h2 id="GISTS">GISTS</h2>

<p>{% for gist in site.data.gists limit:5 %}
  <a href="{{ gist.url }}">{{ gist.title }}</a> ({{ gist.date | date: "%b %Y" }})<br />
{% endfor %}
<a href="/gists/">gists index &gt;</a></p>

<h2 id="BLOG">BLOG</h2>

<p>{% for post in site.posts limit:5 %}
  <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%b %Y" }})<br />
{% endfor %}
<a href="/blog/">blog archive &gt;</a></p>

<h2 id="CONTACT">CONTACT</h2>

<p>przemek@sobstel.org</p>


  <ol class='man-decor man-foot man foot'>
    <li class='tl'>dev &#8226; October 2018</li>
    <li class='tc'></li>
    <li class='tr'></li>
  </ol>
</div>
