---
layout: default
---

<p class="self">
  <a href="http://www.hackerchick.com/2012/01/agile-vs-lean-yeah-yeah-whats-the-difference.html">Lean</a>
  Full Stack PHP/Ruby Developer.
  Aspiring <a href="http://mnmlist.com/archive/">mnmlist</a>.
  Speaks <a href="http://programming-motherfucker.com/">programming</a>.
</p>

<p>
  At this very moment cracking on with <a href="http://www.protipster.com/">Protipster</a> (betting tips from experts) for <a href="http://www.baytekin.info/">Baytekin Media</a>. Earlier worked for <a href="https://www.linkedin.com/in/sobstel">PERFORM, Global Sports Media and Crimson Oak</a>.
</p>

<p>
  Contact: przemek&#64;sobstel.org.
</p>

<div>
  <h2>open source <a href="https://github.com/sobstel">more at github...</a></h2>
  <ul>
    {% for repo in site.data.repos %}
    <li><a href="{{ repo.html_url }}">{{ repo.name }}</a> - {{ repo.description }}</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>blog <a href="/blog/">more...</a></h2>
  <ul class="blog-list">
  {% for post in site.posts limit: 10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>

<div>
  <h2>gists <a href="/gists/">more...</a></h2>
  <ul>
    {% for gist in site.data.recent_gists %}
    <li><a href="/gists/{{ gist.id }}/">{{ gist.description }}</a></li>
    {% endfor %}
  </ul>
</div>
