---
layout: default
title: Open source
permalink: /open-source/
---

<section id="open-source">

<h2>popular repos</h2>
<ul>
  {% for repo in site.data.popular_repos %}
  <li>
    {% include repo-item.html repo=repo %}
  </li>
  {% endfor %}
</ul>

<h2>other repos</h2>
<ul>
  {% for repo in site.data.other_repos %}
  <li>
    {% include repo-item.html repo=repo %}
  </li>
  {% endfor %}
</ul>

<h2>forks</h2>
<ul>
  {% for fork in site.data.forks %}
  <li>
    {% include repo-item.html repo=fork %}
  </li>
  {% endfor %}
</ul>

<h2>contributions</h2>
<ul>
  {% for contrib in site.data.contribs %}
  <li>
    <a href="https://github.com/{{ contrib }}/commits?author=sobstel">{{ contrib }}</a>
  </li>
  {% endfor %}
</ul>

</section>
