---
layout: default
title: OPEN SOURCE
---

<div class='mp' id='man'>

  <div class='man-navigation' style='display:none'>
    <a href="#POPULAR-REPOS">POPULAR REPOS</a>
    <a href="#OTHER-REPOS">OTHER REPOS</a>
    <a href="#CURRENT-FORKS">CURRENT FORKS</a>
    <a href="#CONTRIBUTIONS">CONTRIBUTIONS</a>
  </div>

  <ol class='man-decor man-head man head'>
    <li class='tl'>open-source</li>
    <li class='tc'></li>
    <li class='tr'>open-source</li>
  </ol>

  <h1>OPEN SOURCE</h1>
<h2 id="POPULAR-REPOS">POPULAR REPOS</h2>

<p>  {% assign popular_repos = site.data.popular_repos | sort: 'stargazers_count' | reverse %}
  {% for repo in popular_repos %}
    {% include repo-item.html repo=repo %}<br />
  {% endfor %}
</p>

<h2 id="OTHER-REPOS">OTHER REPOS</h2>

<p>{% assign other_repos = site.data.other_repos | sort: 'stargazers_count' | reverse %}
{% for repo in other_repos %}
  {% include repo-item.html repo=repo %}<br />
{% endfor %}</p>

<h2 id="CURRENT-FORKS">CURRENT FORKS</h2>

<p>{% for fork in site.data.forks %}
  {% include repo-item.html repo=fork %}<br />
{% endfor %}</p>

<h2 id="CONTRIBUTIONS">CONTRIBUTIONS</h2>

<p>{% for contrib in site.data.contribs %}
  <a href="https://github.com/{{ contrib }}/commits?author=sobstel">{{ contrib }}</a><br />
{% endfor %}</p>


  <ol class='man-decor man-foot man foot'>
    <li class='tl'></li>
    <li class='tc'>April 2018</li>
    <li class='tr'>open-source</li>
  </ol>

</div>
