---
layout: default
title: Open Source
---

<div class='mp' id='man'>

  <div class='man-navigation' style='display:none'>
    <a href="#POPULAR-REPOS">POPULAR REPOS</a>
    <a href="#OTHER-REPOS">OTHER REPOS</a>
    <a href="#CURRENT-FORKS">CURRENT FORKS</a>
    <a href="#CONTRIBUTIONS">CONTRIBUTIONS</a>
    <span>--</span>
    <a href="/">INDEX</a>
    <a href="/hydropuzzle/">HYDROPUZZLE &#x279f;</a>
    <a href="mailto:przemek@sobstel.org">PRZEMEK@SOBSTEL.ORG</a>
  </div>

  <h1>Open Source</h1>
<h2 id="POPULAR-REPOS">POPULAR REPOS</h2>

<p>{% assign popular_repos = site.data.popular_repos | sort: 'stargazers_count' | reverse %}
{% for repo in popular_repos %}
  {% include repo-item.html repo=repo %}<br />
{% endfor %}</p>

<h2 id="OTHER-REPOS">OTHER REPOS</h2>

<p>{% assign other_repos = site.data.other_repos | sort: 'stargazers_count' | reverse %}
{% for repo in other_repos %}
  {% include repo-item.html repo=repo %}<br />
{% endfor %}</p>

<h2 id="CURRENT-FORKS">CURRENT FORKS</h2>

<p>{% for fork in site.data.forks %}
  {% include repo-item.html repo=fork %}<br />
{% endfor %}</p>

<h2 id="CONTRIBUTIONS">CONTRIBUTIONS</h2>

<p>{% for contrib in site.data.contribs %}
  <a href="https://github.com/{{ contrib }}/commits?author=sobstel">{{ contrib }}</a><br />
{% endfor %}</p>


  <ol class='man-decor man-foot man foot'>
    <li class='tl'>open-source &#8226; November 2018</li>
    <li class='tr'></li>
  </ol>
</div>
