---
layout: default
title: Work
permalink: /work/
---

<section id="work">

<article class="full">
  <p>
    {% for tech in site.data.stack %}
      {{ tech[0] }}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  </p>
  <p>
    Roles: backend developer, sysadmin, frontend developer, orchestra man.
  </p>
</article>

<article class="appjobs">
  <header>AppJobs</header>
  <p>
    On-demand jobs.
  </p>
  <p>
    <span class="stack">Ruby, Rails, Vue, JavaScript, ES6, Heroku</span>. 2017.
  </p>
</article>

<article class="protipster">
  <header>Protipster</header>
  <p>
    Marketplace for betting information (live and pre-game tips).
  </p>
  <p>
    <span class="stack">PHP, Symfony2, MySQL, phpunit, RabbitMQ, Ubuntu, nginx, Fluentd, Eye, Sass, JavaScript, ES6, Vue, Chimp, git</span>. 2014-now.
    Delivery tool: <span class="stack">Laravel, PHP, MySQL</span>. 2014.
    Mobile app: <span class="stack">Ionic2, Angular2, TypeScript, Sass</span>. 2016.
  <p>
    <a href="http://www.protipster.com/">www.protipster.com</a>
  </p>
</article>

<article class="golazon full">
  <header>Golazon</header>
  <p>
    Football data mnmlist way.
  </p>
  <p>
    <span class="stack">Riot, CoffeeScript, Sass, JavaScript</span>. 2016.
    API: <span class="stack">Ruby, nginx</span>. 2016.
    Old frontend and admin panel: <span class="stack">Ruby, Rails, MongoDB</span>. 2015.
  </p>
  <p>
    <a href="http://www.golazon.com/">www.golazon.com</a>,
    <a href="https://github.com/sobstel/golazon">source</a>,
    <a href="https://github.com/sobstel/golazon-2015">old admin source</a>
  </p>
</article>

<article class="sequent full">
  <header>Sequent</header>
  <p>
    Short-term memory training game for iOS (iPhone).
  </p>
  <p>
    <span class="stack">React Native, Redux, JavaScript, ES6</span>. 2016.
  </p>
  <p>
    <a href="https://github.com/sobstel/sequent">source</a>
  </p>
</article>

<article class="optacore">
  <header>Opta Core Data Feeds</header>
  <p>
    Data feeds for probably the widest possible range of&nbsp;sports competitions across the globe.
  </p>
  <p>
    Maintenance and improvements. Handled high traffic and load spikes. Performance optimizations and architecture/infrastructure hardening.
  </p>
  <p>
    <span class="stack">PHP, MySQL, Memcached, Akamai, phpunit, git</span>.
    2010-2014.
  </p>
  <p>
    <a href="http://client.core.optasports.com/">client.core.optasports.com</a> (demo / demo)
  </p>
</article>

<article class="hosted3">
  <header>Opta Hosted Platform</header>
  <p>
    Soccer-only one-brand Soccerway turned into multi-sport multi-client highly configurable hosted platform.
  </p>
  <p>
    MSN,
    <a href="http://sportdatenbank.n24.de/">N24</a>,
    <a href="http://transfers.foxsports.com/">FOX Sports</a>,
    <a href="http://sports.opera.com/">Opera Sports</a>,
    CONCACAF,
    CBC Canada, Yahoo!, ESPN, Al Jazeera, STV Scotland, FOX Sports, Sky News Arabia,
    <a href="http://foot.ospace.dz/">OSpace</a>,
    <a href="http://live.elheddaf.com/">Elheddaf</a>,
    <a href="http://www.polsatsport.pl/MECZ_7096/index.html#sport=soccer&page=competition&id=119">Polsat Sport</a>,
    442, Voetbal International, Antena 3, La Razón,
    <a href="http://www.fussball-statistiken.com/">Fussball Statistiken</a>,
    <a href="http://soccerway.mobi/">Soccerway (mobi)</a>,
    <a href="http://www.scoresway.com/">Scoresway</a>... to name a few.
  </p>
  <p>
    <span class="stack">PHP, MySQL, JavaScript, CSS, Symfony2, Doctrine, Memcached, Akamai, ElasticSearch, git</span>.
    2010-2013.
  </p>
</article>

<article class="soccerway">
  <header>Soccerway</header>
  <p>
    One of the biggest and one of the most popular football sites on the planet. Over 1000 football leagues &amp; cups from 134+ countries. High traffic, big database.
  </p>
  <p>
    <span class="stack">PHP, MySQL, JavaScript, CSS, Memcached, Akamai, CentOS, RedHat, Ubuntu, nginx, git</span>. 2010-2012.
  </p>
  <p>
    <a href="http://www.soccerway.com/">www.soccerway.com</a>
  </p>
</article>

<article class="polifiction">
  <header>polifiction</header>
  <p>
    Political comic strips. Done for fun, got pretty popular, eventually closed due to lack of enough interest for the Polish political scene.
  </p>
  <p>
    Main module behind it has been <a href="https://github.com/sobstel/komixin">open-sourced</a>.
  </p>
  <p>
    <span class="stack">Ruby, Rails, JavaScript, Sass, AMF</span>. 2011.
  </p>
  <p>
    <a href="https://github.com/sobstel/komixin">source</a>
  </p>
</article>

<article class="duo">
  <header>Duo</header>
  <p>
    Gaming website. My first Rails app ever.
  </p>
  <p>
    <span class="stack">Ruby, Rails, MySQL, SOAP</span>.
    2010.
  </p>
</article>

<article class="intragame">
  <header>Intragame</header>
  <p>
    Gaming website and affiliate system. First version done fully by myself only, including server setup and administration.
  </p>
  <p>
    <span class="stack">PHP, MySQL, CSS, JavaScript, SOAP, CentOS</span>.
    2008-2010.
  </p>
</article>

<article class="oakhosting">
  <header>Oak Hosting</header>
  <p>
    Seamless integration with cPanel and webmail, SEO ranks reader and reports generator for clients. Dedicated account setup automation scripts.
  </p>
  <p>
    <span class="stack">PHP, MySQL, CSS, Ubuntu</span>.
    ~2009-10.
  </p>
</article>

<article class="navitracer">
  <header>Navitracer</header>
  <p>
    Truck GPS tracking system (API, web interface, admin interface).
  </p>
  <p>
    <span class="stack">PHP, MySQL, Zend Framework, Doctrine</span>.
    ~2009.
  </p>
</article>

<article class="szalonybanan full">
  <header>Szalony Banan</header>
  <p>
    Web lottery. Users buy lottery tickets via website to get desired thing.
  </p>
  <p>
    <span class="stack">PHP, MySQL</span>.
    ~2009.
  </p>
</article>

<article class="trafnagrode full">
  <header>Traf nagrodę</header>
  <p>
    SMS lottery. Same as Szalony Banan, except users send text messages to buy lottery tickets.
  </p>
  <p>
    <span class="stack">PHP, MySQL</span>.
    ~2009.
  </p>
</article>

<article class="sklepbiegacza">
  <header>Sklep Biegacza</header>
  <p>
    E-commerce. Web shop for runners. Done very first version (not available anymore). Website and admin panel.
  </p>
  <p>
    <span class="stack">PHP, MySQL, CSS, JavaScript</span>.
    ~2007.
  </p>
</article>

<article class="anathema">
  <header>Anathema</header>
  <p>
    Polish fan site of British rock band Anathema. Hobby project started in 2001.<br/>
    Highlight: seamless forum integration.
  </p>
  <p>
    Graphic design, <span class="stack">PHP, CSS, JavaScript, MySQL</span>.
  </p>
  <p>
    <a href="http://www.anathema.art.pl/">www.anathema.art.pl</a>
  </p>
</article>

<article class="full">
  <p>
    <a href="http://bnd.pl">BND</a>,
    Bank Spółdzielczy Jastrzębie Zdrój,
    <a href="http://thorgal.pl">Thorgal</a> (news),
    European Centre for Integration and Development,
    Huta Katowice, Młodzi w Przejrzystej Polsce,
    Mokwa Group, Bastylia, Reinhold Polska, ITBMS, Star Centrum,
    RATH Polska, Enerprof Service, Stalkonstrukcja,
    KFZ - HÖCHTL, Paul Pinsel KG, Budex, Dominium Invest,
    Olimp Domy, Pod Belkami, Dominik Biesiada, MekMed,
    Artlamp (e-commerce), Petitart (e-commerce), Fotomax,
    Rulczyński, MP Trade, Filar, AWFalia, Telemenu,
    Papa La Pub, The Restrooms, Webcode.de, Cartoonair,
    Cheque Déjeuner...
    numerous small music band websites...
    and a few other ones I probably forgot about.
  </p>
</article>

</section>
