@import "normalize";
@import "ronn";

$link-color: #3072b3;

body,
.mp,
.mp code,
.mp pre,
.mp tt,
.mp kbd,
.mp samp,
.mp h3,
.mp h4 {
  font: 400 16px/1.5 "Inconsolata", monospace;
}
.mp h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 20px;
}

.mp a,
.mp a:hover,
.mp a:link,
.mp a:visited,
.mp a code,
.mp a pre,
.mp a tt,
.mp a kbd,
.mp a samp {
  color: $link-color;
}
.mp a {
  text-decoration: none;
}
.mp a:hover {
  text-decoration: underline;
}

.mp > p,
.mp > pre,
.mp > ul,
.mp > ol,
.mp > dl {
  margin-left: 4ex;
}
.mp dt.flush {
  width: 4ex;
}
.post > p,
.post > pre,
.post > ul,
.post > ol,
.post > dl {
  margin-left: 0 !important;
}
.post dt.flush {
  width: 0 !important;
}
.post pre {
  padding-left: 0;
}

.man-navigation {
  padding-top: 24px !important;
}
.man-navigation a,
.man-navigation a:hover,
.man-navigation a:link,
.man-navigation a:visited {
  color: #999 !important;
}
.man-navigation a:hover {
  color: #111 !important;
}
.man-navigation span:first-child {
  display: none;
}
.mp {
  text-align: left;
}
.mp > ol.man-foot {
  margin-left: 0;

  li.tl,
  li.tc,
  li.tr {
    font-size: 0.84em;
  }
}
ol.man-decor li {
  width: 49%;
}

h1 {
  text-transform: uppercase;
}
code {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  background: #eee;
}

.icon {
  display: inline-block;
  margin-right: 8px;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }

  img {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 616px) {
  .mp .synopsis {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mp .synopsis {
  .tagline {
    margin-left: 4ex;
  }
  .icons {
    margin-left: 4ex;
  }
}

.mp .project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4ex;
  margin-bottom: 20px;

  &__icon {
    display: inline-block;
    margin-left: 3ex;
    filter: grayscale(55%);

    &:hover {
      filter: grayscale(11%);
    }

    img {
      display: inline-block;
      width: 52px;
      height: 52px;
      border-radius: 26px;
      margin: 0;
    }

    @media screen and (max-width: 616px) {
      display: none;
    }
  }

  &__info {
    margin-bottom: 0;
  }
}

.mp .insta {
  display: inline-block;
  margin-right: 4px;
  text-decoration: none;
  filter: grayscale(77%);

  &:hover {
    filter: grayscale(22%);
  }

  img {
    display: inline-block;
    width: 130px;
    height: 130px;
  }
}

.home {
  max-width: 48ex;
  margin: 1em auto;

  p {
    display: flex;
    flex-direction: row;

    strong {
      width: 8ex;
      text-align: right;
      margin-right: 0.75rem;
    }
  }
}

div.project,
p {
  margin-left: 0 !important;
}

@media screen and (max-width: 616px) {
  #manpage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

a[target="_blank"] {
  background: url(/img/external.svg) center right no-repeat;
  background-size: 10px;
  padding-right: 13px;
}
