$link-color: #3072b3;

body {
  background: #fcfcfc;
  font: 300 15px/1.5 Inconsolata, monospace;
  color: #000;
}
#content {
  max-width: 632px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0.5em;
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 1em 0 0.8em;
}
h1 {
  margin-bottom: 2rem;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: lowercase;
}
h1 strong {
  font-weight: 700;
  letter-spacing: -1px;

  a {
    border-bottom: none;
  }
}
h2 {
  font-size: 1.2em;

  a {
    font-weight: normal;
    font-size: 0.6em;
  }
}
h3 {
  font-size: 1.1em;
}
h2, h3, h4 {
  font-weight: 700;
}

.linkbar {
  margin-top: 2rem;
}
.linkbar, .linkbar a {
  font-size: 0.85rem;
}


a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  padding-left: 0;
}
li {
  margin-left: 1.5em;
  list-style: disc;
  line-height: 1.6em;
}

p {
  margin: 1em auto;
  text-align: justify;

  &.meta {
    margin-top: 0;
    text-align: left;
    font-size: 0.9em;
    color: #bbb;
  }
}

blockquote {
  border-left: 1px solid #A5ABAB;
  margin: 0px;
  padding: 0 12px 0 12px;
}

pre {
  font-size: 0.9rem;
  color: #444;
  border-left: 5px solid #ccc;
  padding: 0.5em 1em;
  background: #efefef;
}
code {
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #444;
}

table, table th, table td {
  border: 1px solid #ddd;
}
table {
  border-collapse: collapse;

  tr.darker th {
    background: #ccc;
  }
  th {
    background: #eee;
  }
  th, td {
    padding: 3px 5px;
    text-align: left;
    vertical-align: top;
    font-size: 0.9em;
  }
  &.mysql-comparison-matrix td:first-child {
    background: #eee;
  }
}

#index p {
  margin: 2rem 0;
}

#open-source {
  .hidden {
    display: none;
  }

  .lang-picker {
    li {
      cursor: pointer;
      color: $link-color;
      list-style-type: none;
      display: inline-block;
      margin-left: 0;

      &.active {
        color: #000;
        font-weight: 700;
      }

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .langs {
    display: block;
    font-size: 0.8rem;
  }
}

#work {
  div {
    border-top: 1px dotted #ccc;
    padding: 1em 0;
    &:last-child {
      border-bottom: 1px dotted #ccc;
    }

    header {
      font-weight: 600;
      text-transform: uppercase;
    }
    p {
      font-size: 0.9em;
      text-align: left;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.full {
      article {
        background-repeat: no-repeat;
        background-size: 42%;

        &.text-left {
          padding-right: 45%;
          background-position: top right;
        }
        &.text-right {
          padding-left: 45%;
          background-position: top left;
        }
      }
    }

    &.two {
      overflow: auto;

      article {
        width: 47%;

        &:first-child {
          float: left;
          border-right: 1px dotted #ccc;
          padding-right: 2%;
        }
        &:last-child {
          float: right;
        }
      }
    }

    .protipster {
      background-image: url(../img/work/protipster.jpg);
    }
    .soccerway {
      background-image: url(../img/work/soccerway.jpg);
    }
    .betpal {
      background-image: url(../img/work/betpal.jpg);
    }
    .hosted3 {
      background-image: url(../img/work/hosted3.jpg);
    }
    .optacore {
      background-image: url(../img/work/optacore.jpg);
    }
    .polifiction {
      background-image: url(../img/work/polifiction.jpg);
    }
    .intragame {
      background-image: url(../img/work/intragame.jpg);
    }
    .duo {
      background-image: url(../img/work/duo.jpg);
    }
    .navitracer {
      background-image: url(../img/work/navitracer.jpg);
    }
    .oakhosting {
      background-image: url(../img/work/oakhosting.jpg);
    }
    .bnd {
      background-image: url(../img/work/bnd.jpg);
    }
    .sklepbiegacza {
      background-image: url(../img/work/sklepbiegacza.jpg);
    }
    .bsj {
      background-image: url(../img/work/bsj.jpg);
    }
    .anathema {
      background-image: url(../img/work/anathema.jpg);
    }
  }
}

#xteam {
  article {
    border-top: 1px dotted #ccc;
    padding: 1em 0;

    &:last-child {
      border-bottom: 1px dotted #ccc;
    }
  }
  header {
    font-weight: 600;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 500;
    text-transform: none;
  }
  img {
    max-width: 100%;
  }
}
