body {
  background: #fff;
  font: 300 15px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
}
h1, h2, h3, h4 {
  margin: 1em 0 0.8em;
}
h1 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 500;
}
h1 strong {
  font-weight: 500;
  letter-spacing: -1px;
}
h1 a {
  border-bottom: none;
}
h2 {
  font-size: 1.2em;
}
h2 a {
  font-weight: normal;
  font-size: 0.6em;
}
h3 {
  font-size: 1.1em;
}
h2, h3, h4 {
  font-weight: 500;
}
blockquote {
  border-left: 1px solid #A5ABAB;
  margin: 0px;
  padding: 0 12px 0 12px;
}
p {
  margin: 1em auto;
  text-align: justify;
}
a {
  text-decoration: none;
  color: #3072b3;
}
a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 0;
}
li {
  margin-left: 1.5em;
  list-style: disc;
  line-height: 1.6em;
}

#content {
  width: 632px;
  margin: 20px auto;
  padding: 0;
  overflow: hidden;
}

pre {
  font-family: Monaco, monospace;
  font-size: 0.9em;
  color: #444;
  border-left: 5px solid #ccc;
  padding: 0.5em 1em;
  background: #efefef;
}
pre code {
  white-space: pre-wrap;
  color: #444;
}
.gist {
  font-size: 0.9em;
}

span.tags {
  font-size: 0.7em;
}
p.meta {
  margin-top: 0;
  text-align: left;
  font-size: 0.9em;
  color: #bbb;
}

table, table th, table td {
  border: 1px solid #ddd;
}
table {
  border-collapse: collapse;
}
table tr.darker th {
  background: #ccc;
}
table th {
  background: #eee;
}
table th, table td {
  padding: 3px 5px;
  text-align: left;
  vertical-align: top;
  font-size: 0.9em;
}

table.mysql-comparison-matrix td:first-child {
  background: #eee;
}

.self {
  font-weight: 500;
}

.linkbar, .linkbar a {
  font-size: 0.85rem;
}

.repo-list li {
  margin-left: 0;
  list-style: none;
}