body, html {
  width: 100%;
  height: 100%;
}

.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  text-align: center;
}

ul {
  &.index {
    margin: 2.5rem 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0;
    list-style-type: none;
  }
}


.email {
  font-size: 0.9rem;
  color: #bbb;
}
