---
layout: default
title: {{ title }}
---

<div class='mp' id='man'>

  <div class='man-navigation' style='display:none'>
    {{#section_heads}}
    <a href="#{{id}}">{{text}}</a>
    {{/section_heads}}
  </div>

  {{{ html }}}

  <h2>SEE ALSO</h2>
  <p>
    <a href="/">sobstel</a> &gt;
    <a href="https://github.com/sobstel/">github</a> |
    <a href="/gists/">gist index</a> |
    <a href="https://twitter.com/sobstel">twitter</a> |
    <a href="https://www.instagram.com/sobsteldev/">instagram</a> |
    <a href="https://stackoverflow.com/users/219272/sobstel">stackoverflow</a> |
    <a href="/blog/">blog archive</a>
  </p>

  <ol class='man-decor man-foot man foot'>
    <li class='tl'></li>
    <li class='tc'>{{ page_name }}</li>
    <li class='tr'>{{ date }}</li>
  </ol>

</div>
