<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css?v4">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="content">
  <h1>
    <a href="/">sobstel</a> /
    <strong>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</strong>
  </h1>

  {{ content }}

  <p class="linkbar">
    <!-- <a href="/work/">work</a> :: -->
    <a href="/open-source/">open source</a> |
    <a href="/dumps/">dumps</a> |
    <a href="https://github.com/sobstel/">github</a> |
    <a href="https://stackoverflow.com/users/219272/sobstel">stackoverflow</a> |
    <a href="https://twitter.com/sobstel">twitter</a> |
    <a href="https://www.linkedin.com/in/sobstel">linkedin</a> |
    przemek&#64;sobstel.org
  </p>
</div>
</body>
</html>
