<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Hydropuzzle - surreal puzzle adventure game for iOS</title>

  <meta name="description" content="{{ page.short_description }}" />

  <meta name="apple-itunes-app" content="app-id=1294812505">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.sobstel.org/hydropuzzle/">
  <meta property="og:title" content="Hydropuzzle - surreal tech adventure for iPhone">
  <meta properlt="og:description" content="{{ page.long_description }}">
  <meta property="og:image" content="http://www.sobstel.org/img/hydro/hpromo.jpg">

  <link rel="canonical" href="http://www.sobstel.org/hydropuzzle/" />
  <link rel="shortcut icon" href="/img/hydro/favicon.png">

  <link rel="stylesheet" type="text/css" href="/css/hydro.css?v0415">
</head>
<body>
  {{ content }}
</body>
</html>
