<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.short_description }}" />

  <link rel="preload" href="/fonts/fibre.otf" as="font" crossorigin="anonymous">
  <link rel="preload" href="/img/hydro/bg@2x.jpg" as="image" media="(max-width: 750px)">
  <link rel="preload" href="/img/hydro/bg@3x.jpg" as="image" media="(min-width: 751px)">
  <style>{% capture styles %}{% include hydro.scss %}{% endcapture %}{{ styles | scssify }}</style>

  <meta name="apple-itunes-app" content="app-id=1294812505">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sobstel.github.io/hydropuzzle/">
  <meta property="og:title" content="Hydropuzzle - surreal tech adventure for iOS and Android">
  <meta properlt="og:description" content="{{ page.long_description }}">
  <meta property="og:image" content="https://sobstel.github.io/img/hydro/hpromo.jpg">

  <link rel="canonical" href="https://sobstel.github.io/hydropuzzle/">
  <link rel="shortcut icon" href="/img/{{ page.main_title | downcase | replace: 'puzzle', '' }}/favicon.png">
</head>
<body>
  <h1>
   <a href="/{{ page.main_title | downcase }}/">{{ page.main_title | upcase }}</a>
  </h1>

  <div class="container{% if page.container_name %} container__{{ page.container_name }}{% endif %}">
    {{ content }}

    <p>---</p>
    <p>
      Crafted by <a href="https://sobstel.github.io" rel="nofollow">sobstel</a><br>
      <a href="mailto:przemek&#64;sobstel.dev">przemek&#64;sobstel.dev</a>
    </p>
  </div>
</body>
</html>
